<h2>詳細！！</h2>
<h4>投稿ゆーざ画像</h4>
<%= image_tag @post_image.user.get_profile_image(100, 100) %>
<h4>ショップ名</h4>
<%= @post_image.shop_name %>
<h4>説明</h4>
<%= @post_image.caption %>
<h4>画像</h4>
<%= image_tag @post_image.get_images %>
<h4>ユーザ名</h4>
<%= @post_image.user.name %>
<h4>日にち</h4>
<%= @post_image.created_at.strftime("%Y,%m,%D") %>
<% if @post_image.user == current_user%>
    <%= link_to "削除", post_image_path(@post_image.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
<% if @post_image.favorited_by?(current_user) %>
    <p>
        <%= link_to post_image_favorites_path(@post_image), method: :delete do %>
        ❤︎<%=@post_image.favorites.count %>いいね
        <% end %>
    </p>
<% else %>
    <p>
    <%= link_to post_image_favorites_path(@post_image), method: :post do %>
        ❤︎<%=@post_image.favorites.count %>いいね
    <% end %>
    </p>
<% end %>

<div>
    <p>コメント件数：<%= @post_image.post_comments.count %></p>
    <% @post_image.post_comments.each do |post_comment| %>
        <p>プロフィール画像：<%= image_tag post_comment.user.get_profile_image(100, 100) %></p>
        <p>ユーザ名:<%= post_comment.user.name %></p>
        <p>時間:<%= post_comment.created_at.strftime("%Y/%m/%d") %></p>
        <p>コメント:<%= post_comment.comment %></p>
        <% if current_user == post_comment.user %>
            <%= link_to "削除",  post_image_post_comment_path(post_comment.post_image_id, post_comment.id), method: :delete %>
        <% end %>
    <% end %>
</div>

<div>
    <%= form_with model: [@post_image, @post_comment] do |f| %>
        <%= f.text_area :comment, row:5, placeholder: "ここにコメント" %>
        <%= f.submit "コメント投稿" %>
    <% end %>
</div>
 